:root {
	--app-bg: #101827;
	--sidebar: rgba(21, 30, 47,1);
	--sidebar-main-color: #fff;
	--table-border: #1a2131;
	--table-header: #1a2131;
	--app-content-main-color: #fff;
	--sidebar-link: #fff;
	--sidebar-active-link: #1d283c;
	--sidebar-hover-link: #1a2539;
	--action-color: #2869ff;
	--action-color-hover: #6291fd;
	--app-content-secondary-color: #1d283c;
	--filter-reset: #2c394f;
	--filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;


	position: fixed;
	opacity: 1;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: all;


  }
  
  body {
	color:  #fff;
	overflow: hidden;
	font-family: "Poppins", sans-serif;
	background-color: var(--app-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .app-container {
	border-radius: 4px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 1280px;
	display: flex;
	overflow: hidden;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	max-width: 2000px;
	margin: 0 auto;
  }

.wrapper
{
    border: 1px solid #fff;
	background-color: rgb(0, 0, 0 , 0.5);
	margin: auto;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    width: 500px;
    max-width: 80%;
	height: 300px;
}

input{
	margin: 10px 0;
	border:  none;
	padding:  10px;
	border-radius: 5px;
	width:  100%;
	font-size: 16px;
	font-family: poppins; 
}


button {
	background-color: var(--action-color);
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	border: none;
	border-radius: 4px;
	height: 32px;
	padding: 0 16px;
	width: 140px;
	transition: 0.2s;
	cursor: pointer;
	margin-left: 100px;
  }

form{
	/* padding: 20px; */
	margin: 50px;
	margin-left: 70px;
}